<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297651488892-vv4vee4oo40ga69m41r82fu3i9lk84c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297651488892-vv4vee4oo40ga69m41r82fu3i9lk84c0</string>
	<key>API_KEY</key>
	<string>AIzaSyDDkpuK7hlNVwPBZ10W468Z6qpHHpbt4cA</string>
	<key>GCM_SENDER_ID</key>
	<string>297651488892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokclone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tiktokclone-12f50</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclone-12f50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297651488892:ios:9bf7eecd3148029b96e1f9</string>
</dict>
</plist>